@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>DnD Api Tester</h1>

<p>This is just a tester for the open dnd 5e api. I will iterate on this and hopefully start doing full queries on this.
   For now, this just does a get call on the api to get a spell and returns it as Json object.</p>

<div class="flex-row">
    <form asp-controller="Home" asp-action="GetDnDSpell" method="get">
        <div class="flex-column">
            <label for="spell-name">Name Of Spell</label>
        </div>
        <div class="flex-column">
            <input type="text" id="spell-name" name="spellName"/>
        </div>
        <div class="flex-column">
            <label for="spell-level">Level of Spell</label>
        </div>
        <div class="flex-column">
            <input type="number" name="spellLevel" />
        </div>
        <div class="flex-column">
            <input type="submit" value="submit" class="btn btn-primary"/>
        </div>
    </form>
</div>
@{
}
