@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Resume</h1>

    <p>
        Basically, these are my personal projects to test out things that I want to do.
        At the current moment I have experience with a lot of different frameworks and libraries so I will list them here.
        I prefer working with more data driven application and working more in the back end of the application. Due to my work though,
        I work more as a full stack developer doing a whole bunch of front and backend development.
    </p>
    <h2>Front End Framework</h2>
    <ul class="list-group">
        <li class="list-group-item">Html</li>
        <li class="list-group-item">CSS</li>
        <li class="list-group-item">JavaScript</li>
        <li class="list-group-item">Jquery</li>
        <li class="list-group-item">Learning Angular</li>
        <li class="list-group-item">Bootstrap</li>
    </ul>
    <br />
    <h2>Back End Framworks</h2>
    <ul class="list-group">
        <li class="list-group-item">ASP.NET Core</li>
        <li class="list-group-item">ASP.NET MVC</li>
    </ul>
    <br />
    <h2>Operating System</h2>
    <ul class="list-group">
        <li class="list-group-item">Windows</li>
        <li class="list-group-item">Liunx: Ubuntu, RedHat/Fadora, Arch</li>
        <li class="list-group-item">Docker Container: Mostly Linux containers</li>
    </ul>
    <br />
    <h2>Architecture Patterns</h2>
    <ul class="list-group">
        <li class="list-group-item">Microserices Based</li>
    </ul>
    <br />
    <h2>Cloud Services</h2>
    <ul class="list-group">
        <li class="list-group-item">Azure Cloud Services</li>
    </ul>
</div>
